---
import { sponsors } from "../../consts/sponsors.ts"


const firstRow = sponsors.slice(0,6);
const secondRow = sponsors.slice(6,12);
---
<section id="sponsors">
    <div class="flex flex-wrap gap-6">
        {sponsors.map((sponsor) => (
          <a
            key={sponsor.id}
            href={sponsor.url}
            target="_blank"
            rel="noopener noreferrer"
            className="block"
          >
            <img
              src={sponsor.image.logo}
              alt={sponsor.name}
              class="w-[300px] h-auto border-2 border-gray-300 rounded hover:border-blue-500 hover:shadow-lg transition"
            />
          </a>
        ))}
      </div>
  
    <div class="grid grid-cols-6 gap-4 ">
        {
            secondRow.map((sponsor)=>(
                <a 
                href={sponsor.url}
                target="_blank"
                class="size-10 hover:scale-125 transition"
                >
                    <img src={sponsor.image.logo} alt={sponsor.name} class="w-full h-full" />
                </a>
            ))
        }
    </div>

</section>